$black: #000000;
$black1: rgba(0, 0, 0, 0.9);
$black2: rgba(95, 120, 137, 0.08);
$black3: rgba(0, 0, 0, 0.54);
$black4: rgba(0, 0, 0, 0.38);
$black5: rgba(0, 0, 0, 0.7);
$black6: rgba(0, 0, 0, 0.8);
$black7: rgb(51, 51, 51);
$black8: rgba(95, 120, 137, 0.16);
$black9: #333333;
$black10: rgba(0, 0, 0, 0.16);
$black11: rgba(95, 120, 137, 0.16);
$black12: rgba(0, 0, 0, 0.64);

$white: rgb(255, 255, 255);
$white1: #eeeeee;

$yellow: #ffce00;
$yellow1: #fcac1f;
$yellow2: #f2d927;

$blue: #2173d2;
$blue1: #2d9bdb;

$red: #ec6a32;
$red: #f55333;

$green: #00b16d;
